.profile-content {
  position: relative;
  width: calc(100% - 200px);
  margin: 0 auto; }
  .profile-content .games {
    margin-top: 20px; }
    .profile-content .games label {
      font-size: 10px; }
      .profile-content .games label i {
        position: absolute;
        top: 7px;
        margin-left: 5px; }
    .profile-content .games .games-list {
      margin-top: 10px;
      position: relative;
      width: 100%; }
      .profile-content .games .games-list .game-card {
        position: relative;
        width: 160px;
        height: 160px;
        text-align: center;
        background-size: cover;
        background-position: center;
        margin: 5px;
        float: left; }
        .profile-content .games .games-list .game-card .content {
          background-color: rgba(255, 255, 255, 0.2);
          height: 100%;
          padding-top: 30px; }
          .profile-content .games .games-list .game-card .content .title {
            color: #ffffff; }
        .profile-content .games .games-list .game-card .card-image img {
          width: 50px;
          height: 50px; }
