$colorBlack:               #000000;
$colorLightBlack:          #16191f;
$colorDarkBlack:           #32353a;
$colorInputBlack:          #0e1013;
$colorWhite:               #ffffff;
$colorLightGrey:           #999d9e;
$colorDarkGrey:            #282c37;
$colorDarkGrey2:           #1f232b;
$colorDarkGrey3:           #16191F;
$colorDarkGrey4:           #32353a;
$colorDarkGrey2Opa6:       rgba(31, 35, 43, 0.6);
$colorGrayMixBlack:        #37383d;
$colorMilkyGrey:           rgba(75, 80, 86, 1);
$colorGrayMixBlackDark:    rgba(49, 50, 55,0.9);
$colorBluishGrey:          #9baec8;
$colorBluishGreyOpa6:      rgba(155, 174, 200, 0.6);
$colorWhiteGrey:           #d9e1e8;
$colorSkyBlue:             #2b90d9;
$colorLightPurple:         rgb(114, 137, 218);
$colorRed:                 #FF0000;
$colorPink:                #fdeded;
$colorTransparent:         transparent;