$globalRadius:             4px;
$globalPadding:            10px;
$globalMargin:             10px;
$globalContainerMaxWidth:  1024px;
$ViewTransitionIn:         opacity .4s ease-in;
$ViewTransitionOut:        opacity .1s ease-out;
