$fontMontserrat:           'Montserrat', Helvetica, Arial, sans-serif;

$fontExtraSmall:           10px;
$fontSmall:                12px;
$fontSmallMedium:          14px;
$fontMedium:               16px;
$fontMediumLarge:          18px;
$fontLarge:                22px;
$fontLargeHuge:            26px;
$fontHuge:                 28px;

$globalLineHeight:         24px;
$globalLineHeightHeading:  32x;
